<h1> <%= @the_user.username%>  </h1>

<dl>

<dt>  Private </dt>

<dt> <%= @the_user.private%> </dt>

<dt>  Followers </dt>

<dt>  <%= @the_user.received_follow_requests.count%> </dt>

<dt>  Following </dt>

<dt>  <%= @the_user.sent_follow_requests.count%> </dt>

</dl>

  <ul>
  <li>  <a href="/users/<%=@the_user.username %>"> Profile </a> </li>
  <li>  <a href="/photos"> Liked photos </a> </li>
  <li>  <a href="/users/<%=@the_user.username %>/feed"> Feed </a> </li>
  <li>  <a href="/user_sign_out"> Discover </a> </li>

  </ul>

  <h2> Feed <%= @the_user.sent_follow_requests%> </h2>

  <table border="1">

<tr>

<th> Image </th>
<th> Owner </th>
<th> Caption </th>
<th> Posted </th>
<th> Likes </th>
<th>  </th>

</tr>




</table>